<div class="package">
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">
				<%= link_to 'Editar Pedido', update_path(@student), :class => 'link' %>
			</div>
		</div>

	</div>
</div>


